<div class="card">
  <div class="card-body">
    <h2 class="card-title mb-3">Pravila privatnosti</h2>

    <p>Ova pravila objašnjavaju koje podatke <%= @host %> prikuplja o Vama.</p>

    <h3 class="card-title mb-3">Koje podatke prikupljamo</h3>
    
    <p>Osim podataka koje nam date tijekom registracije, zapisujemo u bazu sve Vaše ponude i narudžbe. Također bilježimo i koliko ste se puta ukupno logirali u aplikaciju kao i zadnju ip adresu s kojom ste se logirali i kad ste se zadnji put logirali.</p>

    <h3 class="card-title mb-3">Koje podatke dijelimo / prodajemo drugima</h3>
    <p>Ne dijelimo i ne prodajemo nikakve podakte trećim osobama ili firmama.</p>

    <h3 class="card-title mb-3">Koristimo kolačiće</h3>
    <p>Da bi aplikacija mogla raditi koristimo kolačiće. Kolačići su male tekstualne datoteke sa malom količinom podataka. Birokrati iz EU traže svaku stranicu koja koristi kolačiće da obavijeste korisnike o tome.</p>
  </div>
</div>
