<footer class="bg-dark text-center">
  <div class="container-md mt-3">
    <%= link_to "Terms of Service", terms_of_service_path, class: "text-white ms-3" %>
    <%= link_to "Privacy Policy", privacy_policy_path, class: "text-white ms-3" %>
    <br/>
    <p class="text-muted mt-3">© 2021 - <%= Date.current.year %> <%= @host %></p>
  </div>
</footer>
