body {
  height: 100vh;
  margin: 0; 
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
  padding: math.div($spacer, 3);
}

form {
  margin-top: $spacer * 1.5;
  .field, h6 {
    margin-bottom: $spacer * 1.5;
  }
}

@include media-breakpoint-up(md) {
  tr.mobile-actions {
    display: none;
  }
}


@include media-breakpoint-down(md) {
  th.actions, td.actions {
    display: none;
  }

  tr.mobile-actions {
    border-top-style: hidden;
  }
}
